@import "tailwindcss";
:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: #F5530D;
    --animate-scale-in: scale-in 0.2s ease-out;
}

/* Custom styles to override or complement imported CSS */
body {
    font-family: 'Inter', sans-serif;
    /* Example font, adjust as needed */
}
@keyframes scale-in {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .p-dialog-content{
    padding: 0 !important;
    border-radius: 15px !important;
  }